.pokemon {
  flex-basis: 20%;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.pokemon-name {
  font-size: large;
  letter-spacing: 0.5rem;
}
.pokemon-img {
  height: 150px;
  max-height: 80%;
  margin-top: 1rem;
}

.pokemon:hover {
  background-color: beige;
}
